# According to
# https://docs.travis-ci.com/user/languages/minimal-and-generic/#generic, the
# generic language includes Go.
language: go
dist: bionic
compiler: clang

addons:
  apt:
    packages:
      - python3-pip
      - clang-format
      - cppcheck

install:
  - python3 -m pip install --upgrade pip setuptools pre-commit cpplint
  - go get golang.org/x/lint/golint
  - go get github.com/stretchr/testify
  - sudo cp "$GOPATH"/bin/* /usr/local/bin/

env:
  global:
    - GOPATH=$HOME/go
    - PATH=$GOPATH/bin:$PATH

cache:
  directories:
    # https://pre-commit.com/#travis-ci-example
    - $HOME/.cache/pre-commit

branches:
  only:
    - develop

script:
  - set -e
  - pre-commit run -a
  - (cd cgotorch; make -f Makefile.linux)
  - go install ./...
  - go test -v ./...
