# According to
# https://docs.travis-ci.com/user/languages/minimal-and-generic/#generic, the
# generic language includes Go.
language: go
go:
  - 1.13
os: osx
compiler: clang

addons:
  apt:
    packages:
      - python3-pip

install:
  - pip install pre-commit
  - go get golang.org/x/lint/golint
  - sudo cp "$GOPATH"/bin/* /usr/local/bin/

env:
  global:
  - GOPATH=$HOME/go
  - PATH=$GOPATH/bin:$PATH

cache:
  directories:
    # https://pre-commit.com/#travis-ci-example
    - $HOME/.cache/pre-commit

branches:
  only:
    - develop

script:
  - pre-commit run -a && (cd cgotorch; make) && go install ./...
  - $GOPATH/bin/backward
