# According to
# https://docs.travis-ci.com/user/languages/minimal-and-generic/#generic, the
# generic language includes Go.
language: go
os: osx
compiler: clang

addons:
  apt:
    packages:
      - python3-pip

install:
  - pip install pre-commit

env:
  global:
  - GOPATH=$HOME/go
  - PATH=$GOPATH/bin:$PATH

cache:
  directories:
    # https://pre-commit.com/#travis-ci-example
    - $HOME/.cache/pre-commit

branches:
  only:
    - develop

script:
  - bash ./scripts/ci-install.sh
  - (cd cgotorch; make)
  - pre-commit run -a
  - go run 01-backward.go
